.bg-stiky-main {
    width: 46px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
}
.bg-stiky {
    left: -14px;
    top: 6px;
    transform: rotate(-39deg);
    position: absolute;
    display: block;
    width: 63px;
    padding: 0;
    line-height: 14px;
    font-size: 8px;
    background-color: #414141;
    text-transform: capitalize;
    text-align: center;
    -webkit-text-fill-color: #0000;
    text-shadow: 0 0 #edc967;
}